/* CSS Document */

body,div,h1,ul,li,img,p,table,tr,td,form,label,input {
		margin: 0;
		padding: 0;
	}
	a {
		color:black;
		text-decoration: none;
	}
	a:hover {
		color: #999;
		text-decoration: none;
	}
	
	/**
	 *header footer
	*/
    	.header {
			height: 100px;
			-webkit-box-shadow:0px 5px 7px #C4C4C4; 
			box-shadow: 0px 5px 7px #C4C4C4;
			border-radius: 0px;
		}
		.logo{
			float:left;
			margin-top:20px;
			margin-left:50px;
			}
		.link{
			font-size:14px;
			font-family:黑体;
			margin-top: -72px;
			margin-left: 300px;
			}
		ul{
			list-style-type: none;
			}
		ul li{
			display: inline-block;
			margin-left: -9px;
			padding: 40px 30px;
			height: 100px;
			}
		.selected{
			background-color:#05c3f9;
			}
		
		.footer {
			height: 200px;
			-webkit-box-shadow:0px 5px 7px #C4C4C4; 
			box-shadow: 0px 5px 7px #C4C4C4;
			border-radius: 0px;
		}
		.center{
			height:490px;
			width:1155px;
			margin-top:-20px;
			margin-left:15px;
			-webkit-box-shadow:0px 5px 7px #C4C4C4; 
			box-shadow: 0px 5px 7px #C4C4C4;
			border-radius: 0px;
			background-image:url(../img/shipinbg.gif);
			filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
   			-moz-background-size:100% 100%;
   			background-size:100% 100%;
			}
	
	.jianjie{
		margin-top:30px;
		margin-left:80px;
		}
	span{
		font-family:宋体;
		font-size:14px;
		}
		
	/**
	 *副标题
	*/
	.top{
		 width:1060px;
		 padding-top:40px;
		 margin-left:50px;
		}
	.top-left{
		background-color:#05C3F9; 
		width:320px; 
		height:50px; 
		float:left;
		font-family:"汉仪综艺简体";
		font-size:26px;
		}
	.top-right{
		float:left; 
		}
	.line{
		 border:1px solid #05C3F9; 
		 clear:both
		}
	.top-right .spanO{
		margin-top:25px;
		margin-left:550px;
		font-family:"微软雅黑";
		font-size:16px;
		color:#FFF;
		}
	.content{
		margin-top:100px;
		margin-left:400px;
		}
	.content a{
		color:#FFF;
		text-decoration:underline;
		}
	.manual-text{
		margin-left:22px;
		font-size:40px;
		font-family:"微软雅黑";
		}
	.movie-text{
		font-size:40px;
		font-family:"微软雅黑";
		}